.firstHeading{
    background-color: green;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.heading-2{
    background-color: powderblue;
    color: white;
    font-size: 50px;
    text-align: right;
}
#heading-3{
    background: red;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
p{
    color: black;
    background-color: aqua;
    font-size: 20px;
    text-align: justify;
}